#about{
    background-color: darkgray;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: large;
}
#images{
    display: flex;
    flex-direction: row;
}
#position{
    text-align: center;
}
#qualities, #goals{
   margin-left: auto;
   margin-right: auto;
}